@font-face {
  font-family: 'Rounded';
  src: local('Rounded'),
    url(./assets/fonts/Arial-Rounded-MT-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded-Thin';
  src: local('Rounded-Thin'),
    url(./assets/fonts/Arial-Rounded-MT-Thin.ttf) format('truetype');
}
body {
  font-family: Rounded !important;
  overflow-x: hidden;
}
